.chica{
    width: 225px;
    height: 225px;
}
.ultrachica{
  width:100px;
  height:100px;
}
.blanco{
  background-color: rgba(255,255,255,0.7);
}
.center{
  text-align: center;
}
.top{
  margin-top: 1%;
}
.bottom{
  margin-bottom: 1%;
}
.left{
  margin-left: 1%;
}
.right{
  margin-right: 1%;
}
.contenido{
  overflow: hidden;
  width: 100%;
}
.ancho{
  padding-bottom: 0.3%;
}
.grande{
  width: 40%;
}
.izquierda{
  float: left;
}
img{
  float: left;
}
p{
  margin:0;
  padding: 0;
}
.blanco p{
  margin-left: 1%;
}
.limpiaAnchor{
  color: black;
  text-decoration: none;
}
.limpiaAnchor:hover{
  color: white;
  text-decoration: none;
}
.formLogin{
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}
.ancho{
  width: 100%;
  padding-bottom: 1%;
}
.sectorAdmin{
  margin-top: 20px;
  border-radius: 20px;
  height: 500px;
  overflow: scroll;
  padding: 30px 50px 0 50px;
  background-color: blueviolet;
}
.fondo{
  background-image: url("https://ih0.redbubble.net/image.420273344.8104/flat,550x550,075,f.u6.jpg");
}
.boton{
  height: 24px;
}
.boton:hover{
  /* background-color: red; */
  opacity: 0.5;
}
.relative{
  position: relative
}
.categoria{
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}
.body404{
  background-color: cyan;
  background-image: url("https://i.kym-cdn.com/photos/images/newsfeed/000/932/745/9cc.gif");
  background-size: 100%;
}
.texto404{
  display: block;
  width: fit-content;
  font-size: 10rem;
  color: aliceblue;
  margin: auto;
  
}

.anchor404{
  background-color: cyan;
  padding: 5px;
  border-radius: 0 20px 0 0;
  display: block;
  width: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 2rem;
}
.sombra{
  color: black;
  background-color: rgba(255, 0, 0, 0.9);
  padding-bottom: 5px;
  /* color: black; */
  /* text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue; */
}
