.chica{
    width: 225px;
    height: 225px;
}
.ultrachica{
  width:100px;
  height:100px;
}
.blanco{
  background-color: rgba(255,255,255,0.7);
}
.center{
  text-align: center;
}
.top{
  margin-top: 1%;
}
.bottom{
  margin-bottom: 1%;
}
.left{
  margin-left: 1%;
}
.right{
  margin-right: 1%;
}
.contenido{
  overflow: hidden;
  width: 100%;
}
.ancho{
  padding-bottom: 0.3%;
}
.grande{
  width: 40%;
}
.izquierda{
  float: left;
}
img{
  float: left;
}
p{
  margin:0;
  padding: 0;
}
.blanco p{
  margin-left: 1%;
}
.limpiaAnchor{
  color: black;
  text-decoration: none;
}
.limpiaAnchor:hover{
  color: black;
  text-decoration: none;
}
.formLogin{
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}
.ancho{
  width: 100%;
}
.sectorAdmin{
  margin-top: 20px;
  border-radius: 20px;
  height: 500px;
  overflow: scroll;
  padding: 30px 50px 0 50px;
  background-color: blueviolet;
}
.fondo{
  background-image: url("https://ih0.redbubble.net/image.420273344.8104/flat,550x550,075,f.u6.jpg");
}
