.imgReview{
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.caja{
    /* border: 1px red solid; */
    width: 99%;
    margin: 0 auto;
    margin-top: 1%;
    overflow: hidden;
    border-radius: 5px;
}
.col{
    /* border: 1px black solid; */
    padding: 0;
    margin: 0;
    margin-left: 1%;
    background-color: azure;
}
.col p{
    padding-left: 5%;
}
.row{
    margin-bottom: 1%;
}