<ul class="list-group list-group-flush">
    {{#each tasks}}
        <li class="list-group-item">
            <div class="tarea"> 
                <span {{#if finalizada}}class="finalizada"{{/if}} >{{titulo}}</span> |
                <a href="tareas/{{id_tarea}}/">Ver mas</a>
                <a href="end/{{id_tarea}}/">Hecha</a>
                <a href="delete/{{id_tarea}}/">Borrar</a>
            </div>
        </li>
    {{/each}}
</ul>
