{{#each comentarios}}
    <div class="comment bg-success bottom rounded top">
        <div class="left">
            <button type="" class="float-right js-borrarComentario" id_comentario="{{id_comentario}}"><img class="boton" src="https://cdn2.iconfinder.com/data/icons/cleaning-19/30/30x30-10-512.png"></button>
            <h5>{{contenido_comentario}}</h5>
            <p>Puntaje: {{puntaje}}</p>
            <p>Usuario: {{user}}</p>
        </div>
    </div>
{{/each}}