<div class="top bottom">
	<div class="contenido blanco rounded">
		<div class="top left">
			<div class="float-left right">
				<button type="button" class="btn btn-success" id="submit">Submit</button>
			</div>
			<div class="float-left bottom right">
                <div class="float-left">
                    <label class="input-group-text">Estrellas</label>
                </div>
				<div class="float-left">
					<select class="custom-select float-left" id="puntaje" >
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					</select>
                </div>
			</div>
			<div id="textarea_feedback"></div>
			<div class="float-none bottom right">
				<input type="text" class="form-control" id="textarea" maxlength="150" placeholder="Escribe un comentario">
			</div>
		</div>
	</div>
</div>
<script src="js/contadorComentario.js"></script>